.hidden
{
	display: none;
}
a
{
	text-decoration: none;
}


#containeroutside 
{
	max-width: 1300px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	background: #ffffff;
}

#header
{
	display: flex;
	flex-direction: row;
	height: 120px;
	margin-top: 10px;
	width: 100%;
}
#searchitems
{   
    font-family: 'Ballet', cursive;
    font-family: 'Dancing Script', cursive;
    margin-top: 5px
 	padding: auto;
 	margin-left: auto;
 	display: flex;
 	flex-direction: column;
}
#searchitems a
{
	padding-top: 12px;
	font-size: 18px;
	margin-left: auto;
}
#searchForm
{
	margin-left: auto;
}

#searchForm input
{
	width: 150px;
	border: 1px solid #d1d1d1;
	border-radius: 20px;
	padding: 5px 20px 5px 30px; /*trbl*/
	background: url('../images/search_glass.jpeg') no-repeat #fcfcfc 8px 4px;
	background-size: 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,.15) inset;
}

#mainNav ul
{
	margin-top: 80px;
	margin-left: 21px;
	display: flex;
	flex-direction: row;
	background-color: #00154f;
	padding-left: 510px;
}
#mainNav ul li a
{
	display: flex;
	width: 150px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 15px;
	transition: all .4s ease-in-out; 
    font-family: 'Ballet', cursive;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: #ffffff;
}
#mainNav ul li a:hover
{
	background-color: #efefef;
	color: #00154f;
}
#logo
{
	display: flex;
	height: 295px;
	width: 70%;
	margin-top: 8px;
	margin-left: 20px;
 }
#containerinside
{
	max-width: 1200px;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	background-color: #f49f1c;
}










 
 #infoMain
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #FBAB7E;
	background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

#infoMain ul
{
	width: 600px;
	height: 150px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 8px;
}





#Contactarea
{
	width: 785px;
	height: 275px;
	background-color: black;
	margin-top: 25px;
}


#footer
{ display:flex;
width: 100%;
height: 80px;
background-color: #d9c493;
 align-items: center;
margin-top: 20px;}

#footer ul li
 { float: right; 
   margin-right: 50px;
   font-family: Arial;
   font-size: 14px;}
 
@media screen and (max-width: 400px) {
	#containerinside
{

	width: 100%;

}
